%h4 Online Store
%h5 Coming Soon!
%p Check back later to see my online store, where you will be able to view and purchase all my quilted products.
.button
  = link_to 'View Products', webpage_show_path({:page_alias => 'store'})