.left-rounded.feature
  = render :partial => '/widgets/featured_page'
.feature.middle
  %h4 Quilt Calculator
  %p Calculate an estimate of what your custom quilt, quilt finishing or other services will cost before making any commitment
  .button-link.rounded-10.button
    =link_to 'Calculate', '#', :class => 'rounded-10'
.right-rounded.feature
  = render :partial => '/widgets/contact_form'
