#gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  min-height: 100%; }

#gallery-temp,
#gallery-window {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 502;
  padding: 2em 3em;
  line-height: 2.5em;
  background: #333333 url(images/ajax-loader.gif) no-repeat center center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

#gallery-window h4 {
  padding-top: 0.15em;
  padding-bottom: 0.35em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #222; }

#gallery-window .formfield {
  margin-bottom: 0; }

#gallery-temp {
  padding: 0;
  border: none; }

a#gallery-close {
  position: absolute;
  z-index: 900;
  right: -18px;
  top: -15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: url(images/close.png) no-repeat center center, -moz-linear-gradient(top, #a82435 0%, #8b1423 50%, #6b0b17 51%, #50030d 100%);
  background: url(images/close.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a82435), color-stop(50%, #8b1423), color-stop(51%, #6b0b17), color-stop(100%, #50030d));
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: -9999px; }

#gallery-window #next-prev {
  background: #222;
  position: absolute;
  width: 92%;
  bottom: 20px;
  padding: 0.5em 1em; }

#gallery-window #next-prev a {
  font-size: 16px;
  color: #fff; }

#gallery-window #next-prev #next-img,
#gallery-window #next-prev #previous-img {
  display: block;
  width: 25%;
  height: 0.75em;
  margin-top: 0.45em;
  text-indent: -9999px;
  overflow: hidden; }
  #gallery-window #next-prev #next-img:hover,
  #gallery-window #next-prev #previous-img:hover {
    background-position: bottom left; }

#gallery-window #next-prev #next-img {
  float: right;
  background: url(images/image_arrow_next.png) no-repeat top left; }

#gallery-window #next-prev p {
  float: left;
  color: #fff;
  text-align: center;
  width: 50%;
  margin-bottom: 0; }

#gallery-window #next-prev #previous-img {
  float: left;
  background: url(images/image_arrow_prev.png) no-repeat top left; }
