.leftcol
  %h3 Edit User
  - form_for @user, :url => users_path, :html => {:method => :post, :multipart => true} do |f|
    = render :partial => 'form', :locals => {:f => f, :user => current_user}
    .formfield
      = f.submit "Update User"