.leftcol
  %h3 Create a New User
  - form_for @new_user, :url => users_path, :html => {:method => :post, :multipart => true} do |f|
    = render :partial => 'form', :locals => {:f => f, :user => current_user}
    .formfield
      = f.submit "Create User"
