%ul#template-help.collapse
  %li Each template is different and allows for further customization of your website.
  %li
    %strong Home Features
    %ul
      %li Left column slideshow
      %li Right column title and text
      %li Widgets - 3 displayed at a time
  %li
    %strong Informational Features
    %ul
      %li Left column title and text
      %li Right column slideshow, gallery or single image
  %li
    %strong Sales Features
    %ul
      %li Left column title and text
      %li Right column slideshow, gallery or single image
      %li Bottom contains previews of subpages
  %li
    %strong Store Features
    %ul
      %li Left column title and text
      %li Bottom contains gallery
