%h4 Featured Page
= image_tag '/images/uploaded/subpages/1/4_sm_preview.jpg', :class => 'floatLeft'
%p.floatRight Hello world this is a bunch of preview text that will be replaced by actual text from a webpage or subpage.
