.formfield
  = w.label :widget, "Widget type"
  = w.select :widget, Widget::Template.options_for_select
#widget-content
  /%p Please select a widget type.
  = render :partial => '/widgets/content_fields/select_page', :locals => {:w => w}